@font-face {
    font-family: 'maior';
    src: url('../../src/assets/fonts/maior.ttf');
}

@font-face {
    font-family: 'font1';
    src: url('../assets/fonts/fonte1.ttf');
}
   @font-face {
    font-family: 'fonte2';
    src: url('../assets/fonts/fonte2.woff2');
   }

   @font-face {
    font-family: 'fonte3';
    src: url('../assets/fonts/fonte3.woff2');
   }
   